/* ==========================================================================
   Helpers
   ========================================================================== */

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
.hide--mobile{
	display:none;
	@include media($mobile-up){
		display:block;
	}
}
.hide--tablet{
	display:none;
	@include media($tablet-up){
		display:block;
	}
}
.hide--desktop{
	display:block;
	@include media($tablet-up){
		display:none;
	}
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.underline{
  text-decoration:underline;
}
.uppercase{
  text-transform:uppercase;
}
.video-aspect{
	padding-bottom:56.25%;
	position:relative;
	iframe{
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		position:absolute;
	}
}

.slick-slider{
	overflow:hidden;
}
.slick-track{
	width:100%;
}
.opacity--hover{
	opacity:1;
	-webkit-transition:opacity 0.2s linear;
	-moz-transition:opacity 0.2s linear;
	-o-transition:opacity 0.2s linear;
	transition:opacity 0.2s linear;
	&:hover{
		opacity:0.8;
	}
}