// Breakpoints
$screen-xs: em(576); 
$screen-sm: em(768); 
$screen-md: em(992); 
$screen-lg: em(1200); 

$mobile-up: min-width $screen-xs;
$tablet-up: min-width $screen-sm;
$desktop-up: min-width $screen-md;
$lg-desktop-up: min-width $screen-lg;
